.counterTreeView {
    padding: 8px;
}

.counterTreeView .counterRow {
    margin-top: 4px;
    border-top: 1px solid #000000;
}

.counterTreeView expander {
    padding-left: 6px;
}

.counterTreeView separator:hover {
    background: transparent;
}

.counterTreeView row {
    padding: 4px;
    border-radius: 14px;
}

.treeViewShim {
    margin: 2px;
    font-size: 0px;
}

.counterTreeView label {
    font-size: 16px;
    padding: 5px;
}

.phaseLabel {
    margin-left: 36px;
}

#buttonAddPhase {
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
}

.buttonAddPhase label {
    font-size: 14px;
}

.labelMainCount {
    margin-top: 24px;
    font-size: 56px;
}

.labelMainTime {
    min-width: 200px;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
}

progressbar {
    margin: 16px;
    margin-top: 0px;
}

progressbar * {
    min-height: 16px;
}

progress {
    min-height: 16px;
    margin: 0px;
}

grid {
    border: 0px;
}

actionbar {
    background: #e0e0e0;
    border: 0px;
}

actionbar button {
    background: #ffffff;
}

button {
    background: #dddddd;
}

button:hover {
    background: #cccccc;
}

* {
    border: 0px;
}
