window {
    background: #FFFFFF;
}

headerbar {
    background: #EEEEEE;
}

headerbar button:hover {
    background: #00000015;
}

windowcontrols button:hover {
    background: none;
}

overlay button {
    background: #DDDDDD;
}

overlay button:hover {
    background: #CCCCCC;
}


.counterTreeView {
    border-right: 1px solid #AAAAAA66;
}

.progressGreen progress {
    background: #50FA7B;
}

.progressYellow progress {
    background: #F1FA8C;
}

.progressOrange progress {
    background: #FFB86C;
}

.progressRed progress {
    background: #FF9580;
}

#treeViewContext row:hover {
    background: #DDDDDD;
}

.editDialogRow {
    background: #DDDDDD;
}

#infoToggleButton:hover {
    background: #CCCCCC;
}

progressbar trough {
    background: #CCCCCC;
}

.infoBoxShowBackground {
    background: #DDDDDD;
}

#widget, .selected {
    background: #3584E4;
    color: white;
}
