@define-color highlight rgba(139, 233, 253, 1);

window {
    background: #242424;
}

headerbar {
    background: #303030;
}

headerbar button:hover {
    background: #FFFFFF15;
}

windowcontrols button:hover {
    background: none;
}

overlay button {
    background: #383838;
}

overlay button:hover {
    background: #515151;
}

separator {
    background: #666666;
}

row:selected {
    background: @highlight;
    color: black;
}

.counterTreeView {
    background: #242424;
}

.progressGreen progress {
    background: #50FA7B;
}

.progressYellow progress {
    background: #F1FA8C;
}

.progressOrange progress {
    background: #FFB86C;
}

.progressRed progress {
    background: #FF9580;
}

.infoBoxShowBackground {
    background: #383838;
}

#widget, .selected {
    background: @highlight;
    color: black;
}
